<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

 

    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network" from="simvolice@gmail.com" >
          <network
            host="smtp.gmail.com"
            port="587"
            enableSsl="true"
            userName="simvolice@gmail.com"
            password="14219080601009"
          
    />
        </smtp>
      </mailSettings>
    </system.net>

 



  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
<connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/test" /></connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
